<div class="map-page" ng-if="ctrl.isLoaded()">
    <map class="map-page__map"
         lat="::ctrl.coords.lat" lon="::ctrl.coords.lon" zoom="7" map="ctrl.map">
    </map>

    <info-popup lat="::ctrl.coords.lat" lon="::ctrl.coords.lon" map="ctrl.map"></info-popup>
</div>
